version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 2
    labels:
      - "dependencies"
    groups:
      runtime-deps:
        dependency-type: "production"
        patterns:
          - "commander"
          - "mustache"
      dev-deps:
        dependency-type: "development"
        patterns:
          - "*"
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
